* {
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 479px) {
	#backg {
		width: 100%;
		background: url("../images/background.JPG") no-repeat;
		background-size: 100% 100%;
		height: 2000px;
		display: flow-root;

	}

	.header_title {
		margin-top: 80px;
		display: grid;
		grid-template-columns: 1fr;

	}

	.header_title_p {
		font-size: 40px;
		color: white;
		text-align: center;
		width: 100%;
		line-height: 50px;
		font-weight: bold;
		font-family: Hiragino Sans-W9, Hiragino Sans;
	}

	.header_title_box {
		margin-top: 50px;
		font-size: 20px;
		color: white;
		text-align: center;
		width: 100%;
		line-height: 30px;
		font-weight: bold;
	}

	.title_btn {
		width: 58px;
		height: 47px;
		background: #FF935C;
		box-shadow: 0px 10px 10px 1px rgba(255, 255, 255, 0.42);
		border-radius: 38px 38px 38px 38px;
		opacity: 1;
		line-height: 47px;
		margin: 20px auto;
		position: relative;
	}

	#tooltip {
		font-size: 14px;
		position: absolute;
		display: block;
		width: 80vw;
		right: 50%;
		transform: translateX(50%);
		top: 30px;
		background-color: black;
		z-index: 2;
		line-height: 20px;
	}

	.iphone_main {
		margin-top: 100px;
	}

	.iphone_main-p {
		color: white;
		font-size: 14px;
		width: 100%;
		text-align: center;
	}

	.select_item {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-rows: 1fr 1fr 1fr 1fr;;
		margin: 30px auto;
		width: 80vw;
		grid-gap: 12px 0;
		justify-items: center;
	}

	.select_item > div {
		width: 60px;
		height: 60px;
		border-radius: 30%;
		background: #f08d5c;
		transition: all 0.3s ease-in-out;
	}

	.select_item .bt {
		box-shadow: 0 0 10px white;

	}

	.select_item .bt img {
		filter: invert(0%) !important;
	}

	.select_item > div img {
		width: 100%;
		height: 100%;
		filter: invert(70%);
		pointer-events: none;
	}

	#canvas {
		margin: 40px auto;
		display: block;
		width: 80vw;
		height: 80vw;
		background: #7D7D7DFF;
		border-radius: 50%;
		position: relative;
	}

	.zhizhen {
		width: 220px;
		height: 224px;
		background: url("../images/wheel/blue area.png") no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 46%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.dianji {
		width: 100px;
		height: 100px;
		background: #FFFFFF;
		box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.16);
		opacity: 1;
		border: 6px solid #6C6C6C;
		position: absolute;
		top: 58%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	.dianji img {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.shuju {
		width: 80vw;
		height: 80vw;
		background: transparent;
		border-radius: 50%;
		position: relative;
		transition: transform 5s cubic-bezier(0.25, 0.43, 0, 0.99);
	}

	.shuju div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 5px;
		height: 100%;
		transform-origin: center center;
		background: #FFFFFF;
	}

	.foot{
		position: absolute;
		width: 64px;
		height: 64px;
		left: 20px;
		top: 10px;
		transform: rotate(20deg);
	}
	.CLEAR{
		width: 92px;
		height: 50px;
		background: #FF935C;
		box-shadow: 0px 10px 10px 1px rgba(255,255,255,0.42);
		border-radius: 38px 38px 38px 38px;
		opacity: 1;
		line-height: 50px;
		color: white;
		text-align: center;
		margin: 30px auto;
	}
	#iphone{
		display: block;
	}
	#ipad{
		display: none;
	}
	#web{
		display: none;
	}

}


@media screen and (min-width: 480px) and (max-width: 999px) {

	#backg {
		width: 100%;
		background: url("../images/IMG_0184.JPG") ;
		background-size: 100% ;
		height: 2400px;
		display: flow-root;
	}
	.header_title{
		margin-top: 80px;
		display: grid;
		grid-template-columns: 1fr;
	}
	.header_title_p{
		font-size: 45px;
		color: white;
		text-align: center;
		width: 100%;
		line-height: 50px;
		font-weight: bold;
	}
	.header_title_box{
		margin-top: 50px;
		font-size: 24px;
		color: white;
		text-align: center;
		width: 100%;
		line-height: 30px;
		font-weight: bold;
	}
	.title_btn{
		width: 40px;
		height: 30px;
		border-radius: 10px;
		background: #f08d5c;
		margin: 20px auto;
		font-size: 16px;
	}
	#tooltip{
		font-size: 20px;
		position: absolute;
		display: block;
		width: 80vw;
		right: 50%;
		transform: translateX(50%);
		top: 30px;
		background-color: black;
	}
	#iphone{
		display: none;
	}
	#ipad{
		display: block;
	}
	#web{
		display: none;
	}
	.ipad_main-p{
		color: white;
		font-size: 20px;
		width: 100%;
		text-align: center;
	}
	.ipad_main{
		margin-top: 100px;
	}
	.select_item {
		display: grid;
		grid-template-columns: 1fr  1fr;
		margin: 30px auto;
		width: 80vw;
		grid-gap: 12px 60vw;
		justify-items: center;
	}

	.select_item > div {
		width: 60px;
		height: 60px;
		border-radius: 30%;
		background: #f08d5c;
		transition: all 0.3s ease-in-out;
	}

	.select_item .bt {
		box-shadow: 0 0 10px white;

	}

	.select_item .bt img {
		filter: invert(0%) !important;
	}

	.select_item > div img {
		width: 100%;
		height: 100%;
		filter: invert(70%);
		pointer-events: none;
	}
	.ipad_fiex{
		display: flex;
		justify-content: space-around;

	}
	#canvas {
		margin: 40px auto;
		display: block;
		width: 358px;
		height: 358px;
		background: #7D7D7DFF;
		border-radius: 50%;
		position: relative;
		top: -500px;
	}
	.zhizhen {
		width: 220px;
		height: 224px;
		background: url("../images/wheel/blue area.png") no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 46%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.dianji {
		width: 100px;
		height: 100px;
		background: #FFFFFF;
		box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.16);
		opacity: 1;
		border: 6px solid #6C6C6C;
		position: absolute;
		top: 58%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	.dianji img {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.shuju {
		width: 358px;
		height: 358px;
		background: transparent;
		border-radius: 50%;
		position: relative;
		transition: transform 5s cubic-bezier(0.25, 0.43, 0, 0.99);
	}

	.shuju div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 5px;
		height: 100%;
		transform-origin: center center;
		background: #FFFFFF;
	}

	.foot{
		position: absolute;
		width: 64px;
		height: 64px;
		left: 20px;
		top: 10px;
		transform: rotate(20deg);
	}
	.CLEAR{
		width: 92px;
		height: 50px;
		background: #FF935C;
		box-shadow: 0px 10px 10px 1px rgba(255,255,255,0.42);
		border-radius: 38px 38px 38px 38px;
		opacity: 1;
		line-height: 50px;
		color: white;
		text-align: center;
		margin: 30px auto;
	}
}


@media screen and (min-width: 1000px) {
	#app {
		margin: 0 auto;
		max-width: 1200px;
	}

	#backg {
		width: 100%;
		max-width: 1200px;
		background: url("../images/IMG_0183.JPG") no-repeat;
		background-size: 100% 100%;
		height: 1500px;
		display: flow-root;
	}

	.header_title {
		margin-top: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.header_title_p {
		font-size: 60px;
		color: white;
		text-align: center;
		width: 100%;
		line-height: 80px;
		font-weight: bold;
	}

	.header_title_box {
		margin-top: -30px;
		font-size: 24px;
		color: white;
		text-align: center;
		width: 100%;
		line-height: 35px;
		font-weight: bold;
	}

	.title_btn {
		width: 40px;
		height: 30px;
		border-radius: 10px;
		background: #f08d5c;
		margin: 100px auto;
		font-size: 16px;
	}

	#tooltip {
		font-size: 24px;
		position: absolute;
		display: block;
		width: 80vw;
		right: 50%;
		transform: translateX(50%);
		top: 30px;
		background-color: black;
	}

	#web {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	#canvas {
		display: block;
		width: 512px;
		height: 520px;
		background: #7D7D7DFF;
		border-radius: 50%;
		position: relative;

	}

	.zhizhen {
		width: 220px;
		height: 224px;
		background: url("../images/wheel/blue area.png") no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 46%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.dianji {
		width: 100px;
		height: 100px;
		background: #FFFFFF;
		box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.16);
		opacity: 1;
		border: 6px solid #6C6C6C;
		position: absolute;
		top: 58%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	.dianji img {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.shuju {
		width: 510px;
		height: 520px;
		background: transparent;
		border-radius: 50%;
		position: relative;
		transition: transform 5s cubic-bezier(0.25, 0.43, 0, 0.99);
	}

	.shuju div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 5px;
		height: 100%;
		transform-origin: center center;
		background: #FFFFFF;
	}

	.foot {
		position: absolute;
		width: 64px;
		height: 64px;
		left: 50px;
		top: 45px;
		transform: rotate(20deg);
	}

	.CLEAR {
		width: 92px;
		height: 50px;
		background: #FF935C;
		box-shadow: 0px 10px 10px 1px rgba(255, 255, 255, 0.42);
		border-radius: 38px 38px 38px 38px;
		opacity: 1;
		line-height: 50px;
		color: white;
		text-align: center;
		margin: 30px auto;
	}

	.select_item {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-rows: 1fr 1fr 1fr 1fr;;
		margin: 80px auto;
		width: 350px;
		grid-gap: 12px 0;
		justify-items: center;
	}

	.select_item > div {
		width: 60px;
		height: 60px;
		border-radius: 30%;
		background: #f08d5c;
		transition: all 0.3s ease-in-out;
	}

	.select_item .bt {
		box-shadow: 0 0 10px white;

	}

	.select_item .bt img {
		filter: invert(0%) !important;
	}

	.select_item > div img {
		width: 100%;
		height: 100%;
		filter: invert(70%);
		pointer-events: none;
	}
	.web_main-p{
		color: white;
		font-size: 14px;
		width: 100%;
		text-align: center;
	}
}
